.container-lg {
  height: 30vh;
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

header.masthead {
  width: 100%;
  height: auto;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  //background: no-repeat center center;
  margin-bottom: 50px;
}

.infoBar{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.infoBar-content {
  background-color: #FCFCFC;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  //animation-duration: 1s;
  //animation-name: slideSide;
}

.infoBar img{
  //height: 50%;
}

.closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes slideSide {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
